#page-category-work {
    background: var(--color-background);
}

#container h1 {
    font: 500 3rem Poppins;

    margin: 2rem 0;
    margin-top: 4rem;
}

.cards {
    margin: 2rem auto 4rem;

    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10rem;
}

.cards .card {
    text-decoration: none;

    color: black;
    background-color: var(--color-box-base);

    border-radius: 0.8rem;

    width: auto;
    height: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;

    cursor: pointer;
}

.cards .card:hover {
    transform: translateY(-1rem);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), 0px 3px 3px rgba(0, 0, 0, 0.25), 0px 3px 3px rgba(0, 0, 0, 0.25);
}

@media(max-width: 700px) {
    .cards {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
}