#page-workers {
    background: var(--color-background);
}

h1 {
    font: 500 3rem Poppins;

    margin-top: 4rem;
}

hr {
    margin-top: 2rem;
}

.msg-notfound {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-primary-danger);
    font-weight: bold;
}

.cards {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards .card {
    margin: 2rem 0;

    background-color: var(--color-box-base);

    padding: 5.6rem;

    border-radius: 0.8rem;

    max-width: 580px;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.cards .card .name-and-city {
    display: flex;
    align-items: center;
    
    gap: 1rem;
}

.cards .card .category {
    margin-bottom: 2rem;
}

.cards .card .description {
    margin: 2rem 0;

    text-align: justify;
}

.cards .card {
    margin-top: 2rem;
}

.cards .card .button-request-service {
    width: 100%;
    height: 4.2rem;

    margin-top: 2rem;

    border: 0;
    border-radius: 0.8rem;

    background: var(--color-primary);
    color: var(--color-text-button);

    font: 700 1.8rem Poppins;

    transition: 400ms;

    cursor: pointer;

    outline: none;
    text-decoration: none;
}

.cards .card .button-request-service:hover {
    transform: translateY(-0.3rem);
    background-color: var(--color-primary-dark);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), 0px 3px 3px rgba(0, 0, 0, 0.25);
}

@media(max-width: 700px) {
    .cards .card {
        padding: 3rem;
        width: auto;
    }
}